body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.signup-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}
h2{
    text-align: left;
}
.signup-container h3{
    color: #0047ab;
    margin-bottom: 1rem;
    text-align: left;
}
#registrationForm{
    display: flex;
    justify-content: space-between;
}
.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
    padding-right: 1.5rem;
}
.select-gender{
    display: flex;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn {
    background: linear-gradient(90deg, #0047ab, #1e90ff);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background: #1e70e0;
}

.message {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.message a {
    color: #0047ab;
    text-decoration: none;
}