body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f9fc;
}

.new_app-header {
    background-color: #0047ab;
    color: white;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.new_app-header .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}
#logoutBtn{
    color: white;
  }

.new_app-header .user-menu {
    display: flex;
    align-items: center;
}

.new_app-header .user-icon {
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 4px;
}

.new_app-nav {
    border-bottom: 1px solid #ddd;
}

.new_app-nav .nav-link {
    font-size: 1rem;
    color: #0047ab;
    margin: 0 1rem;
}

.new_app-nav .nav-link.active {
    font-weight: bold;
    color: #1e90ff;
}

.new_app-nav .notifications img {
    cursor: pointer;
}

.new_app-nav .notifications .badge {
    position: relative;
    top: -10px;
    left: -15px;
}
.new_app-main {
    padding: 2rem;
}

.search-bar input {
    width: 300px;
}

.new_app-main h2 {
    color: #0047ab;
    text-align: center;
}